<main class='main'>
  <div class="main__content">
    <h2>Latest Articles</h2>

    <ul class='article-list'>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li class="article-list__item">
            <h3><%= link_to article.title, article %></h3>
            <p class="article-list__item-body">
              <%= article.body.size > 68 ? article.body[..68] + '...' : article.body %>
            </p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</main>

